{% for worklogData in worklog.items %}
    <tr class="alert {% if worklogData.duration is not null %}alert-success{% endif %}">
        <td>{{ worklogData.taskType }}</td>
        <td>{{ worklogData.name }}</td>
        <td data-duration-seconds="{{ worklogData.duration }}">{{ worklogData.durationFormatted }}</td>
        <td>{{ worklogData.content }}</td>
    </tr>
{% endfor %}